table{
	border-spacing:0;
	border-collapse: collapse;
}
td{
	border: 1px solid;
	padding: 10px;
}
table .t-w{
	width:11%
}
table .t-w-h{
	width:10%
}
table .t-w-n{
	width:4%;
}
#t{
	font-size: 18px;
}
#t td{
	padding:5px;
}
#t .num td p{
	transform: rotate(50deg);
    padding: 15px 5px;
    font-weight: 900;
}
#p{
	width:100%;
}
/*#p .thisp, #p .prevp, #p .afterp{
	font-size: 30px;
}*/
#p .thisp, #p .prevp, #p .afterp{
	font-size: 25px;
	font-weight:900;
}
#p .th{
	font-weight: 900;
	background:#bfbfbf;	
}
#p td{
	text-align:center;
	padding: 5px 0;
}
#p .after td{
	color: #a0a0a0;
    border-bottom: 1px solid #000;
    border: none;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
#p .prev td{
	color: #a0a0a0;
    border-top: 1px solid #000;
    border: none;
	border: 1px solid #ccc;
}
.row{
	display:flex;
	justify-content: space-between;
}

.header{
	
}

.content{
	max-width:1100px;
	margin:auto;
}
.content .prepod{
	margin:10px 0 50px;
}
.content .left{
	
}
.content .right{
	
}
.content .countdown{
	text-align:center;
}
.content .countdown h2{
	margin:5px;
	text-transform: uppercase;
	
}